#ignore executables
cosi
dasm
fost
sasm
autotest
gen
gen_test

#ignore all output directories
*/out/*

#ignore symbols from assembly
symbols.txt

#ignore binaries and output in tests
tests/bin
tests/out
assembler/tests/fout
assembler/tests/sout

#local stuff that still has to be looked thru
tests/toadd

#tags
*tags

#impl files in fpga
fpga/*/impl
fpga/peripherals/*/impl
*gprj.user

#on halt, will be rewritten
fpga/helium/*
operating_system/*

#irrelevant files in pcb
pcb/*/fab
pcb/*/*zip
pcb/*/*backup*
pcb/*/*lck
pcb/*/*cache
pcb/*/proj

#local org files
*txt
