#ignore executables
cosi
dasm
fost
fgen
sasm

#ignore all output directories
*/out/*

#ignore symbols from assembly
symbols.txt

#ignore binaries and output in tests
tests/cpu/bin
tests/cpu/out
tests/sasm/tests/fout
tests/sasm/tests/sout

#local stuff that still has to be looked thru
tests/cpu/toadd

#tags
*tags

#impl files in fpga
fpga/*/impl
fpga/peripherals/*/impl
*gprj.user

#on halt, will be rewritten
fpga/helium/*
operating_system/*

#irrelevant files in pcb
pcb/*/fab
pcb/*/*zip
pcb/*/*backup*
pcb/*/*lck
pcb/*/*cache
pcb/*/proj
